<!doctype html>
<html lang="en">
<%- include('includes/head') %>
<body class="bg-dark text-white">
    <header>
    <!-- place navbar here -->
    </header>
    <main>
       <%- include('includes/formLogin')%> 
    </main>
    <footer>
    <!-- place footer here -->
    </footer>
 
</body>

</html>