<!doctype html>
<html lang="en">

<%- include('includes/head') %>

<body class="bg-dark text-white">
    <header>
    <!-- place navbar here -->
    </header>
    <main>
        <h1 class="text-success">Hello world!</h1>
    </main>
    <footer>
    <!-- place footer here -->
    </footer>
 
</body>

</html>