<!doctype html>
<html lang="en">

<%- include('includes/head') %>

<body class="bg-dark text-white">
    <header>
    <%- include('includes/navbar') %>
    </header>

    <main>
        <div class="container my-5">
            <div class="row">
                <div class="col-lg-2"></div>

                <div class="col-lg-8">
                    <h1 class="display-1 text-center">Error 404!</h1>
                    <p class="text-center lead">This page you are searching doesn't exist.</p>
                </div>

                <div class="col-lg-2"></div>
            </div>
        </div>
    </main>
    
    <footer>
        
    </footer>
 
</body>

</html>