@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
  --red: #ff0000;
  --green: #00ff37;
}

* {
  box-sizing: border-box;
  outline: 0;  
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1em;
  line-height: 1em;
}

ul, li{
  margin: 2px;
}

#tarefa{
  cursor:text;
}

.ml-10{
  margin-left: 10px;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
}

.row{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.row > input{
  cursor: pointer;
}
.col{
    display:flex;
    flex-direction: column;
}
.gap-40{
  gap:40px;
}
.col p{
    margin:0;
    padding: 5px;
}
.timer{
  font-size: 72px;
  font-weight: bold;
}
form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

.col button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

.col button:hover {
  background: var(--primary-color-darker);
}
.btn{
  width: 15vw;
  height: 5vh;
  cursor: pointer;
}
.result{
  pointer-events: none;
  width: 27.5vw;
  height: 5vh;
}
.warn{
  color: var(--red);
  font-weight: bold;
}
.sucess{
  color: var(--green);
  font-weight: bold;
}
